.search{
  &-container{
    width: 100%;
    background: #323a45;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 60px;
  }

  &-form{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-input{
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0;
    border: 0;
  }

  &-button{
    border: 0;
    outline: 0;
    background: #3f51b5;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    border-left: 1px solid rgba(0,0,0,0.3);
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover{
      color: #3f51b5;
      background: #fff;
      border: 1px solid #3f51b5;
    }
  }
}

.logo{
  margin-left: 10px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Kalam', cursive;
  font-size: 26px;
}
